@require './config'
@require './code'
@require './custom-blocks'
@require './arrow'
@require './wrapper'
@require './toc'

html, body
  padding 0
  margin 0
  background-color #fff
  width 100%
  height 100%
  font-size 62.5%
  #app
    width 100%
    height 100%
  .el-message
        top 10rem !important

body
  font-family -apple-system,Roboto-Regular,Roboto,"Microsoft Yahei",segoe ui,Helvetica,Arial,Tahoma,sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  color $textColor
*
  margin 0
  padding 0
ul
  padding-left 0
  list-style none
a
  text-decoration none

